{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<br>
</br>
<form action="#" method="post" class="text-center">
    <p>Name:  <input type="text" name="nm" placeholder="Enter Name"/></p>
    <p>Email:  <input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/></p>
    <p><input type="submit" value="submit" /></p>

</form>
{% endblock %}